<!DOCTYPE html>
<html>

<head>
	<title><%=data["Title"]%> ( <%=data["Year"]%> )</title>
	<link rel="stylesheet" type="text/css" href="/css/shadow_v0.0.1.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>
	<style type="text/css">
		label {
			display: block;
			margin: 2vh 0;
		}
		.footer-social li {
			list-style: none;
			display: inline-block;
			background: #fff;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			text-align: center;
			padding: 2% 9.5%;
		}
		.bottom-footer {
			position: relative;
			bottom: 5%;
			width: 100%
		}
		.bottom-footer ul {
			margin: 0;
			padding: 0;
		}
		.info h1,h4,.info p{
			color:white;
			text-transform: capitalize;
		}
		hr{
			border-color: #fff4
		}
	</style>
	<div class="container-fluid py-5" style="background-image: linear-gradient(#0009,#0009), url(https://source.unsplash.com/random/1600×1600/?movies);background-size:cover;min-height: 100vh;">
		<div class="col-md-12 mx-auto mb-5 col-12 row">
			<div class="img-thumbnail" style="height: fit-content;">
				<%if(data["Poster"]=="N/A" ){%>
					<img src="https://source.unsplash.com/random/1600×1600/?<%-data['Title'].split(' ')[0]%>">
				<%}else{%>
					<img src="<%-data['Poster']%>">
				<%}%>
			</div>
			<div class="info col-md-7 mx-auto col-12">
				<h1><%=data['Title']%></h1>
				<hr>
				<div class="col-12">
					<h4>Basic Info</h4>
					<div class="row">
						<p class="col-6">Year - <%=data['Year']%></p>
						<p class="col-6 text-right">Rated - <%=data['Rated']%></p>
					</div>
					<div class="row">
						<p class="col-6">Realeased Date - <%=data['Released']%></p>
						<p class="col-6 text-right">Total Runtime - <%=data['Runtime']%></p>
					</div>
					<div class="row mb-2">
						<%for(var i in data['Ratings']){%>
							<div class="col-md-4 col-12 row">
								<%if(data['Ratings'][i]["Source"]=="Internet Movie Database"){%>
									<svg id="home_img" class="col-6" xmlns="http://www.w3.org/2000/svg" width="64" height="32" viewBox="0 0 64 32" version="1.1"><g fill="#F5C518"><rect x="0" y="0" width="100%" height="100%" rx="4"></rect></g><g transform="translate(8.000000, 7.000000)" fill="#000000" fill-rule="nonzero"><polygon points="0 18 5 18 5 0 0 0"></polygon><path d="M15.6725178,0 L14.5534833,8.40846934 L13.8582008,3.83502426 C13.65661,2.37009263 13.4632474,1.09175121 13.278113,0 L7,0 L7,18 L11.2416347,18 L11.2580911,6.11380679 L13.0436094,18 L16.0633571,18 L17.7583653,5.8517865 L17.7707076,18 L22,18 L22,0 L15.6725178,0 Z"></path><path d="M24,18 L24,0 L31.8045586,0 C33.5693522,0 35,1.41994415 35,3.17660424 L35,14.8233958 C35,16.5777858 33.5716617,18 31.8045586,18 L24,18 Z M29.8322479,3.2395236 C29.6339219,3.13233348 29.2545158,3.08072342 28.7026524,3.08072342 L28.7026524,14.8914865 C29.4312846,14.8914865 29.8796736,14.7604764 30.0478195,14.4865461 C30.2159654,14.2165858 30.3021941,13.486105 30.3021941,12.2871637 L30.3021941,5.3078959 C30.3021941,4.49404499 30.272014,3.97397442 30.2159654,3.74371416 C30.1599168,3.5134539 30.0348852,3.34671372 29.8322479,3.2395236 Z"></path><path d="M44.4299079,4.50685823 L44.749518,4.50685823 C46.5447098,4.50685823 48,5.91267586 48,7.64486762 L48,14.8619906 C48,16.5950653 46.5451816,18 44.749518,18 L44.4299079,18 C43.3314617,18 42.3602746,17.4736618 41.7718697,16.6682739 L41.4838962,17.7687785 L37,17.7687785 L37,0 L41.7843263,0 L41.7843263,5.78053556 C42.4024982,5.01015739 43.3551514,4.50685823 44.4299079,4.50685823 Z M43.4055679,13.2842155 L43.4055679,9.01907814 C43.4055679,8.31433946 43.3603268,7.85185468 43.2660746,7.63896485 C43.1718224,7.42607505 42.7955881,7.2893916 42.5316822,7.2893916 C42.267776,7.2893916 41.8607934,7.40047379 41.7816216,7.58767002 L41.7816216,9.01907814 L41.7816216,13.4207851 L41.7816216,14.8074788 C41.8721037,15.0130276 42.2602358,15.1274059 42.5316822,15.1274059 C42.8031285,15.1274059 43.1982131,15.0166981 43.281155,14.8074788 C43.3640968,14.5982595 43.4055679,14.0880581 43.4055679,13.2842155 Z"></path></g></svg>
									<p class="col-6 mb-0"> - <%=data['Ratings'][i]['Value']%></p>
								<%}else if(data['Ratings'][i]["Source"]=="Rotten Tomatoes"){%>
									<img src="https://www.rottentomatoes.com/assets/pizza-pie/images/rtlogo.9b892cff3fd.png" class="col-6">
									<p class="col-4 mb-0"> - <%=data['Ratings'][i]['Value']%></p>
								<%}else{%>
									<p class="col-6 mb-0"> - <%=data['Ratings'][i]['Source']%></p>
									<p class="col-6 mb-0"> - <%=data['Ratings'][i]['Value']%></p>
								<%}%>
							</div>
						<%}%>
					</div>
					<div class="row">
						<p class="col-6" >Type - <%=data['Type']%></p>
						<p class="col-6 text-right">Awards - <%=data['Awards']%></p>
					</div>
				</div>
				<hr>
				<div class="col-12">
					<h4>Full Info</h4>
					<div class="row">
						<p class="col-6">Genre - <%=data['Genre']%></p>
						<p class="col-6 text-right">Director - <%=data['Director']%></p>
					</div>
					<div class="row">
						<p class="col-6">Writer - <%=data['Writer']%></p>
						<p class="col-6 text-right">Actors - <%=data['Actors']%></p>
					</div>
					<div class="mb-2">
						<h5 class="text-white">Plot</h5>
						<div class="card col-12 py-2">
							<p class="text-primary" style="margin: 0"><%=data['Plot']%></p>
						</div>
					</div>
					<div class="row">
						<p class="col-6">Language - <%=data['Language']%></p>
						<p class="col-6 text-right">Country - <%=data['Country']%></p>
					</div>
					<div class="row">
						<p class="col-6">Box Office - <%=data['BoxOffice']%></p>
						<p class="col-6 text-right">Production - <%=data['Production']%></p>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="bottom-footer row">
				<!-- social -->
				<div class="col-md-1 offset-md-4 col-3 offset-1">
					<ul class="footer-social">
						<li><a href="https://www.facebook.com/codeoffun/" class="facebook"><i class="fa fa-facebook"></i></a>
						</li>
						<li><a href="https://www.linkedin.com/company/code-of-fun/" class="linkedin"><i class="fa fa-linkedin"></i></a>
						</li>
					</ul>
				</div>
				<!-- /social -->
				<!-- copyright -->
				<div class="col-md-6 col-md-pull-4 col-8">
					<div class="footer-copyright">	<span class="text-white">© Copyright 2019. All Rights Reserved. | <a href="https://codeoffun.com"><b>CODEOFFUN</b></a></span>
					</div>
				</div>
				<!-- /copyright -->
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</body>

</html>